#tm
{
    background-color: tomato;
    color: aquamarine;
}
#pink{
    background-color: pink;
    color:bisque;
}
#viol{
    background-color: violet;
    color:brown;
}
#de{
    background-color: blue;
    color:aliceblue;
}